*.pyc
*.pyo
lib/*.pyc
lib/*.pyo
.idea
bCNC.egg-info
.eggs
dist
build

*.code-workspace
.vscode/

flatpak/builddir
flatpak/.flatpak-builder
bCNC/Op_Text_1.tap
bCNC/output.blend
bCNC/output.blend1

test_codes/
*.exe
*.spec
